{% extends 'base.html.twig' %}

{% block title %}Quizz index{% endblock %}

{% block body %}

    <div class="container">


            <h1>Mini projet développé pour entretien du 26 février. Développé sous Symfony 5 </>

    </div>
{% endblock %}
