{% extends 'base.html.twig' %}

{% block title %}New Quizz{% endblock %}

{% block body %}
    <div class="container">
    <h1>Créer votre quizz !</h1>

    {{ include('quizz/_form.html.twig') }}

    </div>
{% endblock %}
